{{#> main}}
  <div class="card">
    {{#each username}}
    <a href="/users/{{username}}">@{{username}}</a>
    {{/each}}
    {{#each shouter}}
  <div class="shout">
    <p>{{text}}</p>
  </div>
{{/each}}
  </div>
  
{{/main}}

