  {{#each shouter}}
  <div class="card">
    <div>
      <a href="/users/{{user.username}}">@{{user.username}}</a>
    </div>
    <div class="shout">
      <p>{{text}}</p>
     
    </div>
    
  </div>
  {{/each}}

