<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SHOUTER</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="/images/shouterlogo_horizontal.png">
        {{#if loggedin_in}}
        <nav>
            <button>Logout</button>
        </nav>
        {{/if}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
   
    {{/if}}
      <script src="/js/logout.js"></script>
</body>

</html>