<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SHOUTER</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <a href="/"><img class="logo" src="/images/shouterlogo_horizontal.png"></a>
            {{#if logged_in}}
                <button id="logout-button">Logout</button>
                <button id="shout-button"><a href="/new">SHOUT</a></button>
            {{else}}
                {{!-- <a href="/login">LOGIN</a> --}}
            {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>Created by Joaquin Florencio, Hannah Rajarao, and Andre Carlo Demonteverde.</p>
    </footer>

      <script src="/js/logout.js"></script>
      <script src="/js/login.js"></script>
      <script src="js/new-shout.js"></script>

</body>

</html>