<h2>CREATE A NEW SHOUT</h2>
<textarea id="new-shout" maxlength="140" oninput=""></textarea>
<p>Character Count: <span id="character-count">0</span></p>

<script src="./public/js/new-shout.js" type="text/javascript"></script>