{{#if logged_in}}
{{#each shouter}}
  <div class="card">
    <div>
      <a href="/users/{{user.username}}">@{{user.username}}</a>
    </div>
    <div class="shout">
      <p>{{text}}</p>
     
    </div>
    
  </div>
  {{/each}}
</section>


{{else}}
<h1>WELCOME TO SHOUTER! A PLATFORM FOR SHOUTING INTO THE VOID</h1>
<h2>CREATE AN ACCOUNT</h2>
<div class="login-card">
    <form class="form signup-form">
        <div class="form-group">
            <label for="username-signup">USERNAME:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
            <label for="email-signup">EMAIL:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup">PASSWORD:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <button class="btn btn-primary" type="submit" id="signup-button">SIGN UP</button>
        <div>
            <a>OR</a>
            <a href="/login">CLICK HERE TO LOGIN</a>
    </form>
</div>
<script src="../js/login.js"></script>

  

{{/if}}