<h2>LOGIN</h2>

<div class="login-card">
  <form class="form login-form">
    <div class="form-group">
      <label for="email-login">EMAIL:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">PASSWORD:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="login-button">LOGIN</button>
    </div>
    <a>OR</a>
    <a href="/">CLICK HERE TO SIGN UP</a>
  </form>
</div>

{{!-- <script src="./js/login.js"></script> --}}