:root {
    --primary: #333;
}

* {
    color: white;
    background-color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    margin: 0;
}

main {
    margin: 20px;
}

header {
    margin: 0;
    padding: 10px 20px;
    background-color: var(--primary);
}

h1 {
    background-color: var(--primary);
}

.form-input {
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 5px;
}

button {
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}

button:hover {
    background-color: white;
    color: black;
}

#login-button {
    width: 50px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
}

#login-button:hover {
    color: black;
}

.card {
    background-color: var(--primary);
    padding: 10px;
    border-radius: 15px;
    margin: 20px 0;
}

.column {
    width: 50%;
}

